.header {
    background-color: #FBF7EC;
    display: flex;
    min-width: 120rem;
    height: 53.5625rem;
    top: -0.1875rem;
    flex-shrink: 0;
}
.navbar-main {
    text-decoration: none;
    margin: 0;
    padding: 3.5625rem 39.8125rem;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    font-family: Inter, monospace;
}
.navbar-main li{
    display: inline-block;
    margin: 0 1rem;
}
.navbar-home {
    color: #1F0C0B;
    font-weight: 500;
    font-family: Work Sans, monospace;
}
.navbar-all {
    text-decoration: none;
    color: #5A5A5A;
}
.test {
    background-color: red;
    min-width: 10rem;
    min-height: 10rem;
}
.button-con{
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0 92.125rem;
    border-radius: 2.625rem;
    color: #FFFFFF;
    display:block;
    width: 8.375rem;
    text-align: center;
    font-family: Work Sans, monospace;
    font-size: 1rem;
}
.button-con{
    background-color: #756BEE;
}
